<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="openmanipulator_arm_gazebo">
    
    <!-- OpenManipulator-X link materials and physics -->
    <gazebo reference="link1">
      <material>Gazebo/DarkGrey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="link2">
      <material>Gazebo/DarkGrey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="link3">
      <material>Gazebo/DarkGrey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="link4">
      <material>Gazebo/DarkGrey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="gripper_link">
      <material>Gazebo/Black</material>
      <mu1>0.3</mu1>
      <mu2>0.3</mu2>
    </gazebo>

    <gazebo reference="gripper_left_link">
      <material>Gazebo/Black</material>
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
    </gazebo>

    <gazebo reference="gripper_right_link">
      <material>Gazebo/Black</material>
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
    </gazebo>

  </xacro:macro>

</robot>
